/* Additional style requirements for the Handshake RSS plugin. */

.handshake-item {
	border:1px solid #e0e0e0;
	border-radius:10px;
	padding:1em;
	margin-bottom:1.5em;
}

.handshake-item-title {
	font-size:18px;
	font-weight:700;
}

.handshake-item-description {
	font-size:16px;
	line-height:1.5;
	margin-top:	10px;
}

/* Hacks a quick fix for an incorrectly calculated div height via jquery Collapser. */
.handshake-item-description div {
	border:1px solid #ffffff;
}
